@import 'variables.scss';
//Backgrounds linear
.bg--gradientWhite{
    background-image: linear-gradient(to bottom right, $whiteScale--lighter, $whiteScale--regular);
}
.bg--gradientSecundary{
    background-image: linear-gradient(to bottom right, $secundary--light, $secundary--regular);
}
.bg--gradientPrimary{
    background-image: linear-gradient(to bottom right, $primary--light, $primary--regular);
}
//Colors
.primary--regular { color: $primary--regular;} 
.primary--light {color: $primary--light}
.primary--lighter {color: $primary--lighter}
.primary--dark{color: $primary--dark}
.primary--darker{color: $primary--darker}
.secundary--regular{color: $secundary--regular}
.secundary--light{color: $secundary--light}
.secundary--lighter{color: $secundary--lighter}
.secundary--dark{color: $secundary--dark}
.secundary--darker{color: $secundary--darker}
.whiteScale--regular{color: $whiteScale--regular}
.whiteScale--lighter{color: $whiteScale--lighter}
.whiteScale--darker{color: $whiteScale--darker}
.grayScale--regular{color: $grayScale--regular}
.grayScale--lighter{color: $grayScale--lighter}
.grayScale--darker{color: $grayScale--darker}
//bg
.bg_primary--regular { background-color: $primary--regular;} 
.bg_primary--light {background-color: $primary--light}
.bg_primary--lighter {background-color: $primary--lighter}
.bg_primary--dark{background-color: $primary--dark}
.bg_primary--darker{background-color: $primary--darker}
.bg_secundary--regular{background-color: $secundary--regular}
.bg_secundary--light{background-color: $secundary--light}
.bg_secundary--lighter{background-color: $secundary--lighter}
.bg_secundary--dark{background-color: $secundary--dark}
.bg_secundary--darker{background-color: $secundary--darker}
.bg_whiteScale--regular{background-color: $whiteScale--regular}
.bg_whiteScale--lighter{background-color: $whiteScale--lighter}
.bg_whiteScale--darker{background-color: $whiteScale--darker}
.bg_grayScale--regular{background-color: $grayScale--regular}
.bg_grayScale--lighter{background-color: $grayScale--lighter}
.bg_grayScale--darker{background-color: $grayScale--darker}
.bg_opaco{background: rgba($whiteScale--regular, $transparencia)}