//Tamanhos
$larguraMenu: 3em;
//color scheme
$brandColor--regular: #EF6E35;
$brandColor--light: #FF8F5C;
$brandColor--lighter: #FFAB85;
$brandColor--dark: #D04D11;
$brandColor--darker: #A43503;
$secundary--regular: #24A172;
$secundary--light: #40B086;
$secundary--lighter: #6ACAA6;
$secundary--dark: #0B8C5B;
$secundary--darker: #026F46;
$whiteScale--regular: #F2F1E7;
$whiteScale--lighter: #FFFFFC;
$whiteScale--darker: #CCCAB7;
$grayScale--regular: #252324;
$grayScale--lighter: #565154;
$grayScale--darker: #0D0A0C;
$transparencia: 0.6;
//Typograph
@font-face{
  font-family: Exo;
  src: url(../FONT/exo/Exo-Regular.ttf);
}
@font-face{
  font-family: Vinque;
  src: url(../FONT/vinque/vinque.ttf);
}
$f_header:'Vinque';
$f_body: 'Exo';
